<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>States and Wildfires</title>
<!-- Leaflet CSS  -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <!-- Link to CSS file-->
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

<!-- Navigation Bars   -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="#" class="text-white">Explore Maps:</a>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="http://127.0.0.1:5000">Home</span></a>
       </li>
        
       <li class="nav-item active">
         <a class="nav-link" href="http://127.0.0.1:5000/states">States</a>
          </li>

        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:5000/causes">Causes</a>
            </li>

        <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/topten">Top Ten</a>
              </li>

        <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:5000/regions">Regions</a>
                </li>

       <li class="nav-item active">
            <a class="nav-link" href="data_states">Data for States</a>
          </li>

      <li class="nav-item active">
        <a class="nav-link" href="data_topten">Data for Top Ten</a>
            </li>

     </ul>
   </div>
 </nav>

<!-- Map Location -->
<p>
<h2>How many fires in each State?</h2></p>
<h3>Twenty years at a glance</h3>
 <div id="map"></div>
<!-- D3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<!-- Our JavaScript -->
<script type="text/javascript" src="{{url_for('static', filename='js/config.js')}}"></script> 
<script type="text/javascript" src="{{url_for('static', filename='js/states.js')}}"></script>

<!-- Text Section -->
<section>
     <h3>This map shows the number of fires in each States.</h3>
     <h3>The larger the circle, the more fires were located in that State. </h3>
</section>
</body>
</html>
